<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <table>
      <thead>
         <tr>
            <th>Nazwa</th> 
            <th>Opis</th>
            <th>Tekst</th>
            <th>Audio</th>
            <th>Rozmiar tekstu</th>
            <th>Kontrast</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th>Historia</th> <td>Nowak</td> <td>4+</td>
         </tr>
         <tr>
            <th>Historia</th> <td>Mazur</td> <td>3-</td>
         </tr>
         <tr>
            <th>Fizyka</th> <td>Nowak</td> <td>2</td>
         </tr>
         <tr>
            <th>Fizyka</th> <td>Mazur</td> <td>4</td>
         </tr>
      </tbody>
   </table>

  </body>
</html>
